<li class="list-group-item">
  <p><%= "#{message.user.name} 投稿時間：#{message.message_time}"%></p>
  
  <% if message.user.avater.attached? %>
    <%= image_tag url_for(message.user.avater), size: '40x40' %>
  <% end %>
  
  <p style="display: inline"><%= message.content %></p>

  <% if message.user == current_user %>
    <%= link_to '削除', message_path(message), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= message.read ? '既読' : '未読' %>
  <% end %>

  <% sender_id ||= nil %>
  <% if sender_id %>
    <%= link_to '削除', message_path(message), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= message.read ? '既読' : '未読' %>
  <% end %>
</li>

<!-- "http://localhost:3000/conversations/5/messages?" -->
<!-- 
<li class="list-group-item">
  <p><%#= "#{message.user.name} 投稿時間：#{message.message_time}" %></p>
  <%# if message.user.avater.attached? %>
    <%#= image_tag message.user.avater, size: '80x80' %>
  <%# end %>
  <p style="display: inline"><%= message.content %></p>
  
    <%#= link_to '削除', message_path(message), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%# if message.user == current_user %>
      <%#= message.read ? '既読' : '未読' %>
    <%# end %>
  <%# end %>
</li> -->

