<div class="container my-5">
  <section class="magazine-section dark-grey-text">
    <h3 class="text-center font-weight-bold mb-4 pb-2">フォロー・フォロワー一覧</h3>
    <p class="text-center w-responsive mx-auto mb-5">なんか書く</p>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="single-news mb-4 follow-image">
          <div class="view overlay rounded z-depth-1-half mb-4 ">
            <div class="view">
              <img class="img-fluid" src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/KogMaw_9.jpg">  
              <div class="mask pattern-6 waves-effect">
              </div>
            </div>
          </div>
          <h3 class="font-weight-bold mb-3">Follow!</h3>
          <p class="dark-grey-text">あなたがフォローしているユーザー</p>
        </div>

        <div class="single-news mb-4">
          <div class="row">
            <% @user.following.each do |follow| %>
              <div class="col-3">            
                <div class="view overlay rounded z-depth-1 mb-4">
                  <% if follow.avater.attached? %>
                    <%= image_tag follow.avater, class: 'img-fluid' %>
                  <% else %>
                    <%= image_tag 'no_image', class: 'img-fluid' %>
                  <% end %>                
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>
          
              <div class="col-9">
                <p class="font-weight-bold dark-grey-text"><%= follow.created_at.strftime('%Y/%m/%d') %></p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    <%= link_to follow.name, user_path(follow.id), class: 'dark-grey-text' %>
                  </div>
                  <a><i class="fas fa-angle-double-right"></i></a>
                </div>
                <br>
              </div> 
            <% end %>
          </div>
        </div>
      </div>
 
    <div class="col-lg-6 col-sm-12">
      <div class="single-news mb-4 follower-image">
        <div class="view overlay rounded z-depth-1-half mb-4">
          <div class="view">
            <img class="img-fluid" src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Gnar_3.jpg">
            <div class="mask pattern-6 waves-effect waves-light">
            </div>
          </div>
          <!-- <a> -->
            <!-- エフェクト -->
            <!-- <div class="mask rgba-white-slight"></div>
          </a> -->
        </div>
        <h3 class="font-weight-bold mb-3">Follower!</h3>
        <p class="dark-grey-text">あなたをフォローしているユーザー</p>
      </div>

        <div class="single-news mb-4">
          <div class="row">
            <% @user.followers.each do |follower| %>
              <div class="col-sm-3">             
                <div class="view overlay rounded z-depth-1 mb-4">
                  <% if follower.avater.attached? %>
                    <%= image_tag follower.avater, class: 'img-fluid' %>
                  <% else %>
                    <%= image_tag 'no_image', class: 'img-fluid' %>
                  <% end %>                
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>

              <div class="col-sm-9">
                <p class="font-weight-bold dark-grey-text"><%= follower.created_at.strftime('%Y/%m/%d') %></p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    <%= link_to follower.name, user_path(follower.id), class: 'dark-grey-text' %>
                  </div>
                  <a><i class="fas fa-angle-double-right"></i></a>
                </div>
                <br>
              </div> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>