<div class="container">
  <div id="input-search">
    <%= form_with(url: search_path, method: :get, local: true) do |f| %>
      <%= f.text_field :search %>
      <%= f.submit "search" %>
    <% end %>
  </div>

  <% if @summoner_main_data && @summoner_main_data['name'] %>
    <%= "サモナーネーム　#{@summoner_main_data['name']}" %>
    <br>
    <%= "レベル　#{@summoner_main_data['summonerLevel']}" %>
    <br>
    <%= image_tag @icon, size: '200x200' %>
    <% if @rank_data.present? %>
      <%= "ソロランク: #{@rank_data[0]['tier']}  #{@rank_data[0]['rank']}" %>
      <%= image_tag("#{@rank_data[0]['tier'].downcase}.png") %>
      <%= "#{@rank_data[0]['leaguePoints']}LP" %>

      <br>
      <%= "#{@rank_data[0]['wins']}勝 / #{@rank_data[0]['losses']}敗 " %>
    <% elsif %>
      <p>ソロランク: Unranked</p>
      <%= image_tag("unranked.png") %>
    <% end %>
    <% if @match_result.present? %>
      <% @match_result.each do |m| %>
        <div style="border: solid 1px black">
         
          <div class="row">
            <div class="col-6">
              <%#= game_type(m['queueId']) %>
            </div>
            <div class="col-3 blue_team">
              <div>
                <p class='team_title'>ブルーチーム</p>
              </div>
              <div>
                <% @blue_matches.each do |x| %>
                  <%= image_tag champ_icon(x[0].values[0][0]), size: '40x40' %>
                  <%= x[0].keys[0] %>
                  <br>
                  
                <% end %>
              </div>
            </div>
            <div class="col-3">
              <div>
                <p class='team_title'>レッドチーム</p>

              </div>
              <div>
                <% @red_matches.each do |x| %>
                  <%= image_tag champ_icon(x[0].values[0][0]), size: '40x40' %>
                  <%= x[0].keys[0] %>
                  <br>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        
  <% end %>
  <% end %>
  <% end %>
</div>

